.CodeMirror {
    @apply border-2 border-gray-800 w-[700px] h-[450px] bg-gray-800 rounded p-4 shadow-md
}

.CodeMirror-cursor { border-left: 1px solid #fff; }
.cm-fat-cursor .CodeMirror-cursor { background-color: #a2a8a175 !important; }
.cm-animate-fat-cursor { background-color: #a2a8a175 !important; }

.CodeMirror span {
    @apply text-gray-200
}

.CodeMirror .cm-builtin {
    @apply text-gray-200
}

.CodeMirror .cm-attribute {
    @apply text-blue-400
}

.CodeMirror .cm-atom {
    @apply text-blue-400
}

.CodeMirror .cm-def {
    @apply text-blue-400
}

.CodeMirror .cm-number {
    @apply text-green-400
}

.CodeMirror .cm-string {
    @apply text-red-400
}

.arrow_box {
    @apply bg-gray-600 relative rounded px-2 py-1 text-sm;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(75, 85, 99, 0);
	border-top-color: rgba(75, 85, 99, 1);
	border-width: 4px;
	margin-left: -4px;
}

.arrow_box:before {
	border-color: rgba(75, 85, 99, 0);
	border-top-color: rgba(75, 85, 99, 1);
	border-width: 7px;
	margin-left: -7px;
}
